.container {
   background-color: #fff;
   border: 1px solid #dadada;
   border-radius: 5px;
   padding: 24px;
   display: flex;
   flex-direction: column;
   gap: 24px;
   width: 304px;

   @media only screen and (max-width: 768px) {
      width: 100%;
   }
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   p {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.8px;
   }

   span {
      position: relative;
      font-size: 12px;
      font-weight: 500;
      color: #552882;
      cursor: pointer;
      z-index: 1;
      &:hover::after {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         display: block;
         content: '';
         height: 32px;
         width: 95px;
         border-radius: 30px;
         color: #552882;
         background-color: #f8f8f8;
         z-index: -1;
      }
   }
}

.filtersContainer {
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.separator {
   width: 100%;
   height: 0px;
   border-top: 1px solid #dadada;
   margin-bottom: 24px;
}
