$white: #ffffff;
$greyDark: #545454;
$greyDarkest: #212121;
$borderColor: #dadada;
$salaryColor: #9564d4;

.offer {
   display: flex;
   border: 1px solid $borderColor;
   border-radius: 5px;
   background-color: $white;
   column-gap: 10px;
   font-family: 'Poppins';
   cursor: pointer;

   &:hover {
      background-color: #f8f8f8;
   }

   @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 10px;
   }
}

.offerContainer {
   display: flex;
   padding: 20px 0px 20px 20px;
   column-gap: 10px;
   justify-content: space-between;

   @media (max-width: 768px) {
      padding-bottom: 4px;
   }
}

.logo {
   height: 46px;
   width: 46px;

   @media (max-width: 768px) {
      position: relative;
      height: 32px;
      width: 32px;
      top: 36px;
   }
}

.title {
   font-size: 20px;
   font-weight: 600;
   color: $greyDarkest;
   line-height: 26px;
   text-align: left;

   @media (max-width: 768px) {
      position: relative;
      left: -42px;
      padding-bottom: 10px;
      max-width: 81vw;
      overflow-x: hidden;
   }
}

.offerData {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-grow: 1;
   white-space: nowrap;
}

.company {
   font-weight: 500;
}

.salary {
   display: flex;
   color: $salaryColor;
   font-size: 12px;
   font-weight: 400;
   line-height: 12px;
   align-items: flex-end;
   justify-content: flex-start;
   white-space: nowrap;
}

.salaryDaysContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 20px 20px 20px 5px;
   column-gap: 10px;
   width: 100%;

   @media (max-width: 768px) {
      padding: 10px 0 0 20px;
   }
}

.separator {
   border-right: 1px solid $borderColor;
}

.marginal {
   border-right: 1px solid $borderColor;

   @media (max-width: 768px) {
      border-right: none;
   }
}

.daysElapsedContainer {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   white-space: nowrap;

   @media (max-width: 768px) {
      align-items: flex-end;
   }
}

.daysElapsed {
   font-size: 12px;
   line-height: 12px;
   font-weight: 400;
   text-align: right;
   color: $greyDark;
}

.colDetails {
   display: flex;
   flex-direction: row;
   gap: inherit;

   @media (max-width: 768px) {
      justify-content: flex-start;
   }
}

.detailsContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 12px;
   line-height: 12px;
   font-weight: 400;
   color: $greyDark;
   column-gap: 14px;
   white-space: nowrap;

   @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 8px;
   }
}
