.container {
   min-width: 115px;
   width: fit-content;
   display: flex;
   align-items: center;
   gap: 9px;

   cursor: pointer;
   label {
      font-size: 14px;
      font-weight: 400;
      line-height: 130%;
      cursor: pointer;
   }
   @media only screen and (max-width: 768px) {
      padding: 3.5px 0px;
   }
}

.icon {
   position: relative;
   width: 27px; /* Set the desired width */
   height: 27px;
}
