.container {
   max-width: calc(392px * 2 + 14px);
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 12px;
}

.information {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 16px;
   margin-top: 12px;

   p {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.8px;
   }

   span {
      font-size: 12px;
      font-weight: 500;
      color: #552882;
      cursor: pointer;
   }
}

@media (max-width: 768px) {
   .container {
      max-width: min-content;
   }
}
