.container {
   position: absolute;
   display: flex;
   flex-direction: column;
   top: 40px;
   left: 50%;
   transform: translateX(-50%);
   width: 1094px;
   padding: 65px 74px 48px 60px;
   z-index: 2;
   background: var(--white);
   border-radius: 5px;
   border: 1px solid var(--gray-light);
}

.headerContainer,
.textSection,
.infoBox {
   display: flex;
}

.titleBox,
.detailsContainer,
.infoColumnContainer {
   display: flex;
   flex-direction: column;
}

.infoColumnContainer,
.textContainer,
.buttonBox {
   background: var(--bg-gray);
}

.buttonBox {
   display: grid;
   place-items: center;
   height: 67px;
}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 252px;
   height: 34px;
   background: var(--accent);
   border-radius: 28px;
   a {
      font-size: 14px;
      font-weight: 500;
      color: var(--white);
      &:hover {
         opacity: 0.9;
         color: var(--white);
      }
   }
}

.detailsContainer {
   gap: 18px;
}

.textSection {
   gap: 17px;
}

.detailsContainer {
   width: 312px;
}

.textContainer {
   padding: 40px;
   width: 631px;
   color: var(--gray-dark);
   text-align: left;
}

.textTitle {
   font-size: 20px;
   font-weight: 600;
   letter-spacing: -0.4px;
}

.description {
   font-size: 14px;
   font-weight: 500;
}

.title {
   font-size: 28px;
   font-weight: 600;
   line-height: 28px;
   color: var(--black);
}

.technologies {
   font-size: 14px;
   line-height: 18.2px;
   color: var(--gray-dark);
}

.infoBox {
   align-items: center;
   justify-content: space-between;
   width: 252px;
}

.infoTitle {
   font-size: 12px;
   font-weight: 600;
   color: var(--gray-darkest);
}

.infoDescription {
   font-size: 14px;
   font-weight: 400;
   color: var(--gray-dark);
}

.infoColumnContainer {
   padding: 30px;
   div:not(:last-child) {
      border-bottom: 1px solid var(--gray-light);
   }
}
